<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود ادمین</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin.css') }}">
</head>
<body>
<div class="login-box">
    <h2>ورود مدیر</h2>
    <form method="post">
        <input type="text" name="username" placeholder="نام کاربری" required>
        <input type="password" name="password" placeholder="رمز عبور" required>
        <button type="submit">ورود</button>
    </form>
</div>
</body>
</html>
