{% extends "base.html" %}

{% block title %}تسویه حساب - کارخانه تخت{% endblock %}
{% block description %}تسویه حساب و پرداخت آنلاین.{% endblock %}
{% block og_title %}تسویه حساب - کارخانه تخت{% endblock %}
{% block og_description %}تسویه حساب و پرداخت آنلاین.{% endblock %}
{% block twitter_title %}تسویه حساب - کارخانه تخت{% endblock %}
{% block twitter_description %}تسویه حساب و پرداخت آنلاین.{% endblock %}

{% block content %}
<h1>تسویه حساب</h1>
{% if cart_items %}
<form method="post">
    <table>
        <tr>
            <th>محصول</th>
            <th>تعداد</th>
            <th>قیمت</th>
        </tr>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price * item.quantity | int }} تومان</td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">پرداخت و تکمیل خرید</button>
</form>
{% else %}
<p>سبد خرید شما خالی است.</p>
{% endif %}
{% endblock %}
