{% extends "base.html" %}
{% block content %}
<section class="product-detail">
    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
    <h2>{{ product.name }}</h2>
    <div class="price">{{ product.price | int | comma }} تومان</div>
    <div class="rating">{% for i in range(product.rating|round(0, 'floor')) %}★{% endfor %}</div>
    <p>توضیحات محصول اینجا قرار می‌گیرد.</p>
    <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn-add-cart">افزودن به سبد</a>
</section>
{% endblock %}
