{% extends "base.html" %}
{% block title %}{{ action }} محصول{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ action }} محصول</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="نام محصول" required
               value="{{ product.name if product else '' }}">
        <input type="text" name="description" placeholder="توضیحات"
               value="{{ product.description if product else '' }}">
        <input type="number" name="price" placeholder="قیمت" required
               value="{{ product.price if product else '' }}">
        <input type="text" name="image" placeholder="نام فایل تصویر (مثلاً product1.webp)"
               value="{{ product.image if product else '' }}">
        <button type="submit" class="btn">{{ action }}</button>
    </form>
</div>
{% endblock %}
