{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="product-detail">
    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
    <div>
        <h2>{{ product.name }}</h2>
        <p class="price">
            <span class="old">{{ "{:,.0f}".format(product.old_price) }} تومان</span>
            {{ "{:,.0f}".format(product.price) }} تومان
        </p>
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn">افزودن به سبد خرید</a>
    </div>
</div>
{% endblock %}
