{% extends "base.html" %}

{% block title %}محصولات - کارخانه تخت{% endblock %}
{% block description %}لیست کامل محصولات تخت خواب.{% endblock %}
{% block og_title %}محصولات - کارخانه تخت{% endblock %}
{% block og_description %}لیست کامل محصولات تخت خواب.{% endblock %}
{% block twitter_title %}محصولات - کارخانه تخت{% endblock %}
{% block twitter_description %}لیست کامل محصولات تخت خواب.{% endblock %}

{% block content %}
<section class="all-products">
    <h1>تمام محصولات</h1>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <a href="{{ url_for('product_detail', product_id=product.id) }}">
                <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>{{ product.short_description }}</p>
                <span class="price">{{ product.price | int }} تومان</span>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
